/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
 body {
	 background: black;
 }

ul.menufooter a {
    font-family: "orbitron",sans-serif;
    font-weight: lighter;
    color: #fff;
}

.login {
	background: #000;
	border: 1px solid #000;
    height: 30px;
    padding: 15px;
    line-height: 0;
}

.login:hover {
	border: 1px solid #000;
	background: transparent;
	cursor: pointer;
}
nav {
	background: url(../images/header.jpg) center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    height: 85px;
    font-family: "orbitron",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .brand-logo {
    width: 180px;
}

#navegacion {
padding: 0 20px;
    margin: 20px 0px;
    text-align: center;
    text-shadow: 0px 1px 10px rgba(0,0,0,0.7);
}

#navegacion li a {
    color: #fff;
    margin: 10px 0;
}

#fila {
	display: inline-block;
}

#ok {
	background: url(images/fondo.jpg) center top;
	color: #fff;
    font-family: "orbitron",sans-serif;
    text-transform: uppercase;
    padding: 15px;
}

#not {
	background: url(images/fondo.jpg) center top;
	color: #fff;
    font-family: "orbitron",sans-serif;
    text-transform: uppercase;
    padding: 15px;
}

#lugarr {
	background: url(../images/lugar.png);
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    width: 80%;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
    font-family: "orbitron",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.5vw;
    margin-top: -30px;
    z-index: 999;
    position: relative;
}

#mensajes {
	background: rgba(22, 62, 97, 0.45);
    border-radius: 5px;
    border: 2px solid #656f71;
    padding: 10px 25px;
    color: #fff;
    font-family: "orbitron",sans-serif;
    font-weight: lighter;
    font-size: 14px;
    height: 170px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}
.boton {
    background: url(../images/fondopuntos.png);
    background-size: 100%;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #565656;
    border-radius: 25px;
    margin-top: -12px;
    margin-left: 25px;
    position: absolute;
    font-family: "orbitron",sans-serif;
}

.archivo {
	position: absolute;
    margin-top: -200px;
    width: 164px;
    background: none;
    margin-left: 50px;
}

.boton input {
	border: 0;
}

.boton1 {
    background: url(../images/fondopuntos.png);
    background-size: 100%;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #565656;
    border-radius: 25px;
    margin-top: -12px;
    margin-right: 25px;
    float: right;
    font-family: "orbitron",sans-serif;
}
.linea {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c3d6b+0,157ecc+18,3bb3d4+100 */
background: #0c3d6b; /* Old browsers */
background: -moz-linear-gradient(top, #0c3d6b 0%, #157ecc 18%, #3bb3d4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0c3d6b 0%,#157ecc 18%,#3bb3d4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0c3d6b 0%,#157ecc 18%,#3bb3d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3d6b', endColorstr='#3bb3d4',GradientType=0 ); /* IE6-9 */
height: 10px;
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    -ms-box-shadow: inset 0 0 5px #000000;
    -o-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
    display: inline-block;
    width: 100%;
    margin: 0 !important;
}

#boton {
	
}

#lugar {
    background: url(../images/lugar.png);
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    width: 80%;
    height: 49px;
    margin: 0 auto;
    text-align: center;
    line-height: 55px;
    font-family: "orbitron",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 1vw;
    margin-top: -30px;
    z-index: 999;
    position: relative;
}

#lugarp {
    background: url(../images/lugar.png);
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    width: 80%;
    height: 46px;
    margin: 0 auto;
    text-align: center;
    line-height: 55px;
    font-family: "orbitron",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 1vw;
    margin-top: -60px;
    z-index: 999;
    position: relative;
}

#chile {
	background: url(../images/chile.png);
    background-size: cover;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 99;
    top: -125px;
    float: right;
}

#chile1 {
	background: url(../images/chile.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 99;
    top: -60px;
    left: 50px;
    float: left;
}

#peru {
	background: url(../images/peru.png);
    background-size: cover;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 99;
    top: -125px;
    float: right;
}

#peru1 {
	background: url(../images/peru.png);
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 99;
    top: -60px;
    left: 50px;
    float: left;
}

#argentina {
	background: url(../images/argentina.png);
    background-size: cover;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 99;
    top: -125px;
    float: right;
}


#argentina1 {
	background: url(../images/argentina.png);
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 99;
    top: -60px;
    left: 50px;
    float: left;
}
#costarica {
	background: url(../images/costarica.png);
    background-size: cover;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 99;
    top: -125px;
    float: right;
}
#costarica1 {
	background: url(../images/costarica.png);
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 99;
    top: -60px;
    left: 50px;
    float: left;
}
#colombia {
	background: url(../images/colombia.png);
    background-size: cover;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  width: 70px;
    height: 70px;
    position: relative;
    z-index: 99;
    top: -125px;
    float: right;
}


#colombia1 {
	background: url(../images/colombia.png);
	background: url(../images/costarica.png);
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 99;
    top: -60px;
    left: 50px;
    float: left;
	}

#puntaje {
	font-family: "orbitron",sans-serif;
    font-weight: lighter;
    color: #fff;
    text-align: center;
    font-size: 0.8vw;
    text-shadow: 1px 1px 10px #08d9ec;
}
#navegacion li a:hover {
    text-shadow: 1px 1px 30px #1383d9;
}

.caja {
	height: 220px;
	margin-top: 130px;
	position: relative;
}

.caja img {
    position: absolute;
    bottom: 0px;
}

#instrucciones {
	background: url(../images/comoparticipar.jpg) left top;
	background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    margin-top: -60px;
}
#top5 {
	background: url(../images/fondoranking.jpg) left top;
	background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    padding-top: 10px;
    margin-top: -20px;
}

#mundial {
	background: url(../images/fondoranking2.jpg) center top;
	background-size: cover;  
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    padding-top: 10px;
}

#premios {
	background: url(../images/fondopremios.jpg) left top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: -10px 0;
    padding: 200px 0 150px;
}

#texto{
    background: url(../images/fondot.png) center bottom;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    width: 45%;
    margin: 0 auto;
    color: #fff;
    height: 80px;
    text-align: center;
    padding: 16px 10px;
    font-family: "orbitron",sans-serif;
    font-size: 0.7vw;
    margin-top: -10px;
}

#foto {
    background-size: 100% !important;
    border-radius: 500px;
    background: url(../sitio/images/avatar.jpg);
}

#foto1 {
    background-size: 100% !important;
    border-radius: 500px;
}

.datos {
	background: url(../images/fondopuntos.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "orbitron",sans-serif;
    color: #fff;
    border-radius: 50px;
    margin-top: 30px;
    border: 2px solid #979797;
    font-weight: lighter;
}

.datos span {
	font-weight: bolder;
	text-shadow: 0px 0px 7px rgba(8,217,236,0.95);
}


#donde-participar {
    background: url(../images/dondeparticipar.jpg) left top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "orbitron",sans-serif;
    color: #fff;
    font-weight: lighter;
}

.morado {
	background: #56009c;
    border-radius: 100px;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 4px 8px;
    border: 1px solid #999;
    font-size: 20px;
}

.rojo {
	background: #c70200;
    border-radius: 100px;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 5px 4px;
    border: 1px solid #999;
    font-size: 20px;
}

.rojo1 {
    background: #c70200;
    border-radius: 100px;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 5px 2px;
    border: 1px solid #999;
    font-size: 15px;
}

#login {
	background: url(../images/login.jpg);
    background-size: cover;
    padding: 200px 0px 100px 0px;
}

.detalle {
	display: inline-block;
    width: 85%;
    vertical-align: top;
    padding-left: 2%;
    cursor: pointer !important;
}
.mapita {
    padding-top: 15%;
}
.punto {
	line-height: 16px;
    margin-bottom: 30px;
    font-size: 11px;
}

.punto h5{
	line-height: 16px;
    font-size: 18px;
}

div#index-banner {
    margin-top: -100px;
}

#fondo {
	background: url(../admin/fondo.png) center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 99;
    position: relative;
}

.metal {
	background: url(../images/fondo.jpg) center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
    margin-top: 80px;
    border-top: 2px solid #0f203e;
}

.titulo {
	font-family: "orbitron",sans-serif;
    color: white;
    text-shadow: 0px 0px 10px rgba(8,217,236,0.35);
    font-size: 40px;
    line-height: 20px;
    margin: 50px 0 20px;
    text-align: center;
}
.test {
	width: 66%;
    float: right;
    position: relative;
    margin-top: -70px;
    height: 40px;
    border-top: 5px solid #d5d5d6;
    border-bottom: 5px solid #494848;
    border-right: 5px solid rgba(73, 72, 72, 0.65);
    z-index: 1;
	font-family: "orbitron",sans-serif;
}

.test option {
	padding-left: 50px;
}
.info {
font-family: "orbitron",sans-serif;
    color: white;
    text-align: left;
    text-transform: uppercase;
    }
.titulo1 {
	font-family: "orbitron",sans-serif;
    color: white;
    text-shadow: 0px 0px 10px rgba(8,217,236,0.35);
    font-size: 40px;
    line-height: 40px;
    margin: 20px 0;
    text-align: left;
    text-transform: uppercase;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 820px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-width: 760px) {
	nav ul li {
    transition: background-color .3s;
    padding: 0;
    display: block;
    vertical-align: middle;
}


#chile, #colombia, #peru, #costarica, #argentina {
	display: none;

}
}
@media only screen and (max-width: 760px) {
#instrucciones {
	background: url(../images/comoparticiparmobile.jpg) center top #000;
	background-repeat: no-repeat;
    margin-top: -40px;
    padding-top: 140px;
}

.caja img{
	width: 70%;	
}

.caja {
    height: 150px;
    position: relative;
    margin-top: 0;
    display: none;
}

.icon-block h2 {
    display: inline-block;
    width: 18%;
    vertical-align: middle;

}
.icon-block h5 {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    margin-left: 4%;
}

#donde-participar {
    background: url(../images/dondeparticiparmobile.jpg) center top;
    font-family: "orbitron",sans-serif;
    color: #fff;
    font-weight: lighter;
    padding-top: 100px;
}
#top5 {
	background: url(../images/rankingmobile.jpg) center top;
    padding-top: 10px;
    margin-top: -20px;
}

.esconder {
	display: none;
}

#lugar {
    width: 90%;
    font-size: 15px;
    height: 43px;
    line-height: 45px;
    background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
}
#chile, #colombia, #peru, #costarica, #argentina {
    width: 60px;
    height: 60px;
    top: -105px;
    display: block;
}

#premios {
	background: url(../images/fondopremiosmobile.jpg) center top;
    margin: -10px 0;
    padding: 140px 0 100px;
}

#lugarp {
	width: 90%;
    font-size: 15px;
    height: 43px;
    line-height: 45px;
    background-size: 100%;
    -o-background-size: 100%;
    -ms-background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    margin-top: -50px;
}

#texto {
    margin-top: -15px;
    font-size: 11px;
    width: 65%
}

#puntaje {
	font-size: 12px;
}

#chile1,#colombia1, #costarica1, #peru1, #argentina1 {
    width: 120px;
    height: 120px;
    position: relative;
    z-index: 99;
    top: -90px;
    left: 31%;
    float: left;
}

.datos {
	margin-top: -60px
}

.titulo1 {
	text-align: center;
}

.test {
	margin-top: -55px
}

#mensajes {
	height: 250px;
}

#lugarr {
    font-size: 2vw;
}
.archivo {
    position: absolute;
    margin-top: -620px;
    width: 127px;
    background: none;
    margin-left: 120px;
}
}