/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
 body {
	 background: black;
 }

ul.menufooter a {
    font-family: "orbitron",sans-serif;
    font-weight: lighter;
    color: #fff;
}

nav {
	background:url(../images/header.png) center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
    height: 210px;
    font-family: "orbitron",sans-serif;
    font-weight: lighter;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .brand-logo {
    width: 180px;
}

#navegacion {
	background: url(../images/fondopuntos.png) center center;
	background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    border-radius: 30px;
    padding: 0 20px;    
    margin: 20px 30px;
    text-align: center;
}

#navegacion li a {
    color: #fff;
    margin: 10px 0;
}

#lugar {
	background: url(../images/lugar.png);
    background-size: cover;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    width: 80%;
    height: 31px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    font-family: "orbitron",sans-serif;
    color: #fff;
    font-size: 13px;
    margin-top: -30px;
    z-index: 999;
    position: relative;
}

#lugarp {
	background: url(../images/lugar.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 80%;
    height: 46px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    font-family: "orbitron",sans-serif;
    color: #fff;
    font-size: 20px;
    margin-top: -60px;
    z-index: 999;
    position: relative;
}

#chile {
	background: url(../images/chile.png);
    background-size: cover;
    	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 99;
    top: -75px;
    float: right;
}

#peru {
	background: url(../images/peru.png);
    background-size: cover;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 99;
    top: -75px;
    float: right;
}

#argentina {
	background: url(../images/argentina.png);
    background-size: cover;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 99;
    top: -75px;
    float: right;
}

#costarica {
	background: url(../images/costarica.png);
    background-size: cover;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 99;
    top: -75px;
    float: right;
}

#colombia {
	background: url(../images/colombia.png);
    background-size: cover;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 99;
    top: -75px;
    float: right;
}

#puntaje {
	font-family: "orbitron",sans-serif;
    font-weight: lighter;
    color: #fff;
    text-align: center;
    font-size: 11px;
    text-shadow: 1px 1px 30px #1383d9;
}
#navegacion li a:hover {
    text-shadow: 1px 1px 30px #1383d9;
}

#instrucciones {
	background: url(../images/fondopuntos.png) center center;
	background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    margin-top: -10px;
}
#top5 {
	background: url(../images/fondotop5.jpg) center center;
	background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    padding-top: 10px;
    height: 250px;
    margin-top: -20px;
}

#mundial {
	background: url(../images/fondomundial.jpg) center top;
	background-size: cover;  
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
    padding-top: 10px;
}

#premios {
	background: url(../images/fondo-premios.jpg) center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: -10px 0;
    padding: 20px 0;
}

#texto{
    background: url(../images/fondot.png) center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 55%;
    margin: 0 auto;
    color: #fff;
    height: 80px;
    text-align: center;
    padding: 16px 10px;
    font-family: "orbitron",sans-serif;
    font-size: 11px;
}

#foto {
    background-size: cover !important;
    border-radius: 100px;
    background: url(../sitio/images/avatar.jpg);
}

#donde-participar {
    background: url(../images/fondomapas.jpg) center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: "orbitron",sans-serif;
    color: #fff;
    font-weight: lighter;
}

.mapita {
    padding-top: 5%;
}
.punto {
	line-height: 16px;
    margin-bottom: 30px;
    font-size: 11px;
}

.punto h5{
	line-height: 16px;
    font-size: 18px;
}

div#index-banner {
    margin-top: -100px;
}

#fondo {
	background: url(../admin/fondo.png) center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 800px;    
    z-index: 99;
    position: relative;
}

.metal {
	background: url(../images/metal.jpg) center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
    margin-top: 80px;
}

.titulo {
    font-family: "orbitron",sans-serif;
    color: white;
    text-shadow: 0px 0px 10px rgba(8,217,236,0.35);
    font-size: 40px;
    line-height: 20px;
    margin: 80px 0 20px 10px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 820px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}